/* Write your code here. */
.emoji-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff33;
  width: 32%;
  height: 100px;
  border: 3px solid #ffffff30;
  border-radius: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .emoji-item {
    height: 200px;
  }
}

@media screen and (min-width: 992px) {
  .emoji-item {
    width: 24%;
  }
}

.emoji-icon {
  width: 50px;
}

@media screen and (min-width: 768px) {
  .emoji-icon {
    width: 100px;
  }
}
